/* Fondo del body */
body {
   background-color: #faf3e0;
   color: #2c3e50;
   font-family: Arial, sans-serif;
   width: 800px;
   margin: 0 auto;
}

/* Encabezado principal */
h1 {
   font-size: 32px;
   color: #0077b6;
   text-align: center;
}

/* Encabezados secundarios */
h2 {
   font-size: 24px;
   color: #f4a261;
}

/* Imagen */
img {
   max-width: 100%;
   display: block;
   margin: 0 auto;
}

/* Formulario */
form {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
}

/* Campos del formulario */
input, select, textarea {
   border: 1px solid #eaeaea;
   width: calc(100% - 40px);
}

/* Botón "Enviar pedido" */
button {
   background-color: #0077b6;
   color: white;
   text-align: center;
   border: none;
   cursor: pointer;
}

/* Efecto visual en botón "Enviar pedido" */
button:hover {
   background-color: white;
   color: #0077b6;
}

/* Campo de texto "Instrucciones adicionales" */
textarea::placeholder {
   color: #f4a261;
}

/* Estilo general */
* {
   margin: 15px;
   padding: 10px;
   border-radius: 10px;
   box-sizing: border-box;
}

/* Para cuadrar campos con opciones */
.opciones {
   display: block;
   flex-wrap: wrap;
   gap: 10px;
   align-items: center;
}

.opciones input {
   margin-right: 5px;
}

/* Modo oscuro */
body.dark-mode {
   background-color: #2c3e50;
   color: #faf3e0;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
   background-color: #34495e;
   color: #faf3e0;
   border: 1px solid #faf3e0;
}

body.dark-mode button {
   background-color: #faf3e0;
   color: #2c3e50;
}

body.dark-mode h1,
body.dark-mode h2 {
   color: #f4a261;
}

body.dark-mode .opciones label {
   color: #faf3e0;
}

/* Fondo del formulario en modo oscuro */
body.dark-mode form {
   background-color: #3b3b3b;
   border: 1px solid #faf3e0;
   color: #faf3e0;
}